<!doctype html>
<html>
	<head>
		<title>CMT4 oefweek5</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="icon" href="http://res.cloudinary.com/janrenders/image/upload/v1503515392/icon_dduzll.png">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
