body {
  font-family: helvetica;
  width: 90%;
  margin: 25px auto;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: steelblue;
  margin-bottom: 20px;
}

section {
  margin: 25px 0;
}

img {
  float: right;
  width: 40%;
  margin-left: 20px;
}

p {
  text-align: justify;
  margin-bottom: 20px;
}

#datum{
  width: 85%;
  margin-bottom: -35px;
  padding-bottom: 5px;
  color:black;
  font-weight: bold;
  margin-left:25px;
}

#meerOver{
  color: firebrick;
  font-weight: bold;
}

.imgGroot{
  float: none;
  position: relative;
  width: 85%;
  margin-left:20px;
}
.eersteP{
  font-weight: bold;
  font-style: italic;
}

h2 {
  margin: 25px 0;
  font-family: 'Bree serif';
  font-size: 1.4em;
}

h2 a {
  text-decoration: none;
  color: dimgrey;
}

h3{
  margin-top: 10px;
}

h3 a{
  text-decoration: none;
}

ul {
  font-family: 'Bree serif';
  display:flex;
  padding:10px 20px;
  justify-content: space-between;
  background-color: firebrick;
}

nav li{
  list-style:none;
  cursor:pointer;
}

nav a {
  font-size:13px;
  text-decoration:none;
  text-transform:uppercase;
  color:white;
  }


nav a:hover {
  text-decoration: underline;
}

img:hover {
  opacity: 0.6;
}

#footerText{
  font-size: 0.8em;
}

@media only screen and (max-width: 535px) {
      nav{
            width: 100%;
            line-height: 1.7em;
            font-size: 1em;
            margin: 0px auto;

      }
}
